*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 25px;
}

.header {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 1279px) {
  .menu-btn {
    display: block;
  }
}

.header-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  margin-right: 33px;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.nav-bar__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.1;
  -webkit-transition: 250ms text-shadow linear;
  transition: 250ms text-shadow linear;
}

.nav-bar__link:hover {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contacts__link {
  display: block;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: 250ms text-shadow linear;
  transition: 250ms text-shadow linear;
}

.contacts__link:hover {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contacts__text {
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
}

.header__btn {
  background-color: #6FCF97;
  border-radius: 16px;
  padding: 18px 35px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

.header__btn:hover {
  background-color: #68c28d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.insurances {
  margin-top: 50px;
}

.insurances-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insurance__img {
  width: 570px;
  height: 573px;
  margin-right: 89px;
}

@media screen and (max-width: 1279px) {
  .insurance__img {
    display: none;
  }
}

/*.insurances__list {
    display: flex;
    flex-wrap: wrap;
}*/
.insurances__list-item {
  background-color: #fff;
  padding: 64px 47px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  color: #2E2F53;
  text-align: center;
  margin-bottom: 45px;
  display: inline-block;
  width: 47%;
}

.insurances__list-item:nth-child(odd) {
  margin-right: 30px;
}

.insurances__list-item:last-child {
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .insurances__list-item {
    padding: 78px 9px;
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) {
  .insurances__list-item {
    width: 100%;
  }
}

.questions {
  margin-bottom: 120px;
}

.questions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 88px;
}

@media screen and (max-width: 1279px) {
  .questions-container {
    display: block;
  }
}

.questions__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  color: #2E2F53;
  letter-spacing: 0.03em;
  display: inline-block;
}

@media screen and (max-width: 1279px) {
  .questions__title {
    margin-bottom: 38px;
    font-size: 37px;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 27px;
  width: 100%;
  border: none;
  border-radius: 20px;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  color: #333333;
  -webkit-filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.05));
}

.accordion__wrap-item {
  margin-bottom: 43px;
}

.active,
.accordion:hover {
  background-color: #e9faee;
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-top: -28px;
  border-radius: 0 0 20px 20px;
}

.panel p {
  padding: 40px 0 30px 0;
}

.accordion:after {
  content: '';
  font-size: 0;
  color: #777;
  float: right;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background-image: url(../img/question-plus.svg);
}

.active:after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/question-plus.svg);
}

.questions__btn {
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 20px;
  color: #fff;
  background-color: #2E2F53;
  display: block;
  margin: 0 auto;
  padding: 20px 35px;
  -webkit-transition: 250ms all linear;
  transition: 250ms all linear;
}

.questions__btn:hover {
  background-color: #242542;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reviews {
  background-image: url(../img/reviews-bg.png);
  background-repeat: no-repeat;
  background-position: 25% 74%;
  margin-bottom: 170px;
  padding-top: 177px;
}

@media screen and (max-width: 1279px) {
  .reviews {
    padding-bottom: 120px;
    margin-bottom: 0;
  }
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
  color: #2E2F53;
}

.reviews__title span {
  color: #6FCF97;
}

@media screen and (max-width: 1279px) {
  .reviews__title {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .reviews__title {
    font-size: 30px;
  }
}

.reviews__subtitle {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
  color: #2E2F53;
  margin-bottom: 40px;
}

.reviews__subtitle span {
  color: #6FCF97;
}

@media screen and (max-width: 767px) {
  .reviews__subtitle {
    font-size: 30px;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .reviews__list {
    padding-right: 25px;
  }
}

.reviews__list-item {
  margin-right: 41px;
}

.reviews__list-item:last-child {
  margin-right: 0;
}

.reviews-rait {
  margin-bottom: 30px;
  width: 440px;
}

@media screen and (max-width: 767px) {
  .reviews-rait {
    width: 270px;
  }
}

.reviews-btn {
  border: none;
  background-color: transparent;
  background-image: url(../img/btn-bg.png);
  background-repeat: no-repeat;
  padding: 43px 83px;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .reviews-btn {
    font-size: 20px;
    background-image: url(../img/btn-bg--mobile.png);
    padding: 10px 84px;
    padding-right: 71px;
  }
}

@media screen and (max-width: 1279px) {
  .reviews__img {
    display: none;
  }
}

.why-us {
  background-image: url(../img/why-us-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 77px;
}

@media screen and (max-width: 374px) {
  .why-us {
    background-image: none;
    background-color: #2e2f53;
  }
}

.why-us-container {
  padding-top: 84px;
}

@media screen and (max-width: 767px) {
  .why-us-container {
    padding-top: 0;
  }
}

.why-us__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 63px;
}

@media screen and (max-width: 1279px) {
  .why-us__title {
    font-size: 37px;
  }
}

@media screen and (max-width: 767px) {
  .why-us__title {
    display: none;
  }
}

.why-us__title--mobile {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
  color: #2E2F53;
  display: none;
}

.why-us__title--mobile span {
  color: #6FCF97;
}

@media screen and (max-width: 1279px) {
  .why-us__title--mobile {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .why-us__title--mobile {
    font-size: 30px;
    display: block;
  }
}

.why-us__list {
  display: inline-block;
}

.why-us__list-item {
  font-family: Source Sans Pro;
  font-size: 25px;
  line-height: 150%;
  color: #f8f8f8;
}

@media screen and (max-width: 1279px) {
  .why-us__list-item {
    font-size: 20px;
    margin-bottom: 34px;
  }
  .why-us__list-item:last-child {
    margin-bottom: 0;
  }
}

.num {
  font-family: Montserrat;
  color: #52b2f5;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .num {
    font-size: 70px;
  }
}

.num-1 {
  background-image: url(../img/why-1.png);
  padding: 20px 94px 43px 83px;
  margin-right: 64px;
}

@media screen and (max-width: 767px) {
  .num-1 {
    margin-right: 19px;
    background-image: url(../img/why-1--mobile.png);
    padding: 0 64px 28px 58px;
  }
}

.num-2 {
  background-image: url(../img/why-2.png);
  padding: 41px 99px 40px 73px;
  margin-bottom: 17px;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .num-2 {
    margin-right: 10px;
    background-image: url(../img/why-2--mobile.png);
    padding: 8px 67px 27px 51px;
  }
}

.num-3 {
  background-image: url(../img/why-3.png);
  padding: 33px 75px 49px 76px;
  margin-right: 78px;
}

@media screen and (max-width: 767px) {
  .num-3 {
    margin-right: 26px;
    background-image: url(../img/why-3--mobile.png);
    padding: 5px 50px 34px 52px;
  }
}

.num-4 {
  background-image: url(../img/why-4.png);
  padding: 46px 107px 43px 71px;
  margin-right: 44px;
}

@media screen and (max-width: 767px) {
  .num-4 {
    margin-right: 0;
    background-image: url(../img/why-4--mobile.png);
    padding: 11px 73px 30px 48px;
  }
}

.num-5 {
  background-image: url(../img/why-5.png);
  padding: 48px 92px 34px 68px;
  margin-right: 73px;
}

@media screen and (max-width: 767px) {
  .num-5 {
    margin-right: 19px;
    background-image: url(../img/why-5--mobile.png);
    padding: 15px 54px 35px 54px;
  }
}

.why-us__list-item p {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .why-us__list-item p {
    font-size: 15px;
    vertical-align: middle;
    width: 150px;
  }
}

.guarantees {
  background-image: url(../img/guarantees-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-position: 24% 24%;
  padding-bottom: 190px;
  padding-top: 73px;
}

.guarantees-container {
  position: relative;
  padding: 58px 20px 29px 20px;
}

.guarantees__img {
  width: 658px;
  height: 663px;
  position: absolute;
  right: -94px;
  top: -391px;
}

@media screen and (max-width: 1479px) {
  .guarantees__img {
    width: 574px;
    right: -2px;
  }
}

@media screen and (max-width: 1279px) {
  .guarantees__img {
    width: 265px;
    top: -231px;
    right: 16px;
  }
}

.guarantees__text-wrap {
  max-width: 686px;
}

.guarantees__text {
  margin-bottom: 20px;
}

.guarantees__text:last-child {
  margin-bottom: 30px;
}

.guarantees__btn {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 58px;
}

.workers__title {
  color: #192147;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279px) {
  .workers__title {
    font-size: 37px;
  }
}

.workers__content {
  padding: 0 20px 38px 20px;
}

.workers__content-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 23px 0;
}

.workers__position {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: block;
  margin-bottom: 50px;
}

.workers__position span {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6FCF97;
  display: block;
}

.workers__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 60px;
}

.workers__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.workers__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
}

.workers__photo {
  width: 100%;
  height: 270px;
}

.workers__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__btn {
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  display: block;
  margin: 0 auto 22px auto;
}

.workers__img-wrap img {
  margin-right: 15px;
}

.workers__img-wrap img:last-child {
  margin-right: 0;
}

ul.slick-dots {
  margin: 30px 0 0 0;
  text-align: center;
  display: block;
  margin: 128px auto;
}

ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}

ul.slick-dots li button {
  border: none;
  background-color: #dcdcdc;
  outline: none;
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 15px;
  height: 15px;
}

ul li.slick-active button {
  background-color: #6FCF97;
  width: 23px;
  height: 23px;
}

.footer {
  background-color: #192147;
  padding: 40px;
}

.footer-logo {
  display: block;
  margin-bottom: 40px;
}

.footer__data {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f3f3f3;
  display: block;
  margin-bottom: 10px;
}

.footer__data:last-child {
  margin-bottom: 0;
}

.footer__data span {
  font-weight: 400;
}

.footer__address {
  color: #fff;
  font-style: normal;
}

.footer__inform {
  margin-right: 200px;
  display: inline-block;
}

@media screen and (max-width: 1279px) {
  .footer__inform {
    margin-right: 0;
    width: 45%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer__inform {
    width: 100%;
  }
}

.footer__nav {
  display: inline-block;
  vertical-align: top;
  margin-right: 126px;
}

@media screen and (max-width: 1279px) {
  .footer__nav {
    margin-right: 0;
    width: 45%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav {
    display: block;
    width: 100%;
  }
}

.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.footer__nav-list {
  display: inline-block;
  margin-right: 45px;
}

.footer__nav-list:last-child {
  margin-right: 0;
}

.footer__contacts {
  display: inline-block;
  vertical-align: top;
}

.footer__contacts-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer__contacts-text {
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
  display: block;
  margin-bottom: 70px;
}

@media screen and (max-width: 1279px) {
  .footer__contacts-text {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */