.guarantees {
  background-image: url(../img/guarantees-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-position: 24% 24%;
  padding-bottom: 81px;
  padding-top: 73px;
  background-size: cover;
}
.guarantees-container {
  position: relative;
  padding: 92px 20px 29px 20px;
}
.guarantees__img {
  width: 658px;
  height: 663px;
  position: absolute;
  right: -94px;
  top: -391px;
  @media screen and (max-width: 1479px) {
    width: 574px;
    right: -2px;
  }
  @media screen and (max-width: 1279px) {
    width: 265px;
    top: -185px;
    right: 16px;
  }
}
.guarantees__text-wrap {
  max-width: 686px;
}
.guarantees__text {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 30px;
  }
}
.guarantees__btn {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 58px;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
