.reviews {
    background-image: url(../../img/reviews-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.reviews__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.2;
    color: $text-color;

    span {
        color: $accent-color;
    }
}

.reviews__list {
    display: flex;
    margin-bottom: 45px;
    
}
.reviews__list-item {
    margin-right: 41px; 
    &:last-child {
        margin-right: 0;
    }
}
.reviews-rait {
    margin-bottom: 30px;
}