.why-us {
  background-image: url(../img/why-us-bg.png);
  background-repeat: no-repeat;
  background-position: top center;

  padding-bottom: 77px;
}
.why-us-container {
  padding-top: 170px;
}
.why-us__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: $light-color;
  margin-bottom: 63px;
}
.why-us__list {
  display: inline-block;
}
.why-us__list-item {
  font-family: Source Sans Pro;
  font-size: 25px;
  line-height: 150%;

  color: #f8f8f8;
}
.num {
  font-family: Montserrat;
  color: #52b2f5;

  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  vertical-align: middle;
}
.num-1 {
  background-image: url(../../img/why-1.png);
  padding: 20px 94px 43px 83px;
  margin-right: 64px;
}
.num-2 {
  background-image: url(../../img/why-2.png);
  padding: 41px 99px 40px 73px;
  margin-bottom: 17px;
  margin-right: 49px;
}
.num-3 {
  background-image: url(../../img/why-3.png);
  padding: 33px 75px 49px 76px;
  margin-right: 78px;
}
.num-4 {
  background-image: url(../../img/why-4.png);
  padding: 46px 107px 43px 71px;
  margin-right: 44px;
}
.num-5 {
  background-image: url(../../img/why-5.png);
  padding: 48px 92px 34px 68px;
  margin-right: 73px;
}
.why-us__list-item p {
  display: inline-block;
  vertical-align: middle;
}
