// Глобальные стили тегов

// * Обнулить всё
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}
button {
  cursor: pointer;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  max-width: 1280px;
  padding: 0 25px;
}
